/* Category title */
.CategoryTitle {
    padding: 0 !important;
    margin : 0rem 0 0.5rem 1.2rem;
    color  : #000 !important;
}
@media (min-width:0) and (max-width:574.9px){
    .CategoryTitle {
        color: #fff !important;
        font-size: 16px !important;
        margin-bottom: 0 !important;
    }
    .TitleIcon{
        display: none;
    }
}