/* Login header */
.Login {
    width           : 24%;
    height          : 400px;
    background-color: #fff;
    border-radius   : 10px;
    margin-top      : 15px;
}

/* Login UserImg */
.UserImg {
    width     : 100%;
    height    : 200px;
    text-align: center;
    margin-top: 3rem;
}

.UserImg img {
    width : 100px;
    height: 100px;
}

/* Login title */

.Title1 {
    width          : 100%;
    display        : flex;
    justify-content: center;
}

.Title {
    letter-spacing   : 1px;
    font-size        : 16px;
    width            : 70%;
    color            : rgb(0 0 0);
    margin-top       : 30px;
    line-height      : 18px;
    margin-bottom    : 0;
    font-weight      : 900;
    cursor           : default;
}

/* Modal */
.ModelTitle {
    text-align : center;
    color      : rgb(255 71 71);
    width      : 350px;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
}

.ModelTitle_h1 {
    font-weight   : 700;
    font-size     : 20px;
    text-transform: uppercase;
}

.ModelTitle_p {
    font-size: 12px;
}

/* Modal Input */
.ModelInpEmail,
.ModelInpParol {
    width  : 100%;
    height : 40px;
    border : 1px solid rgb(226, 226, 226) !important;
    outline: none !important;
}

.ModelInpEmail {
    margin-bottom: 20px;
}

.ModelInpEmail::placeholder {
    color: rgb(204, 204, 204);
}

@media (min-width:0) and (max-width:574.9px) {
    /* body */

    .Login {
        width : 95%;
        height: 300px;
    }

    /* Title */
    .Title1 {
        height: 70px;
    }

    .Title {
        font-size : 12px;
        width     : 80%;
        margin-top: 10px;
    }

    /* User Img */

    .UserImg {
        width     : 100%;
        height    : 150px;
        text-align: center;
        margin-top: 3rem;
    }

    .UserImg img {
        width : 80px;
        height: 80px;
    }

    /* login */
    .login {
        text-align: center;
    }
}

@media (min-width:575px) and (max-width:1084px){
    .Login {
        width           : 33%;
        height          : 285px;
        background-color: #fff;
        border-radius   : 10px;
        margin-top      : 15px;
    }

    /* User Img sm */
    .UserImg {
        width     : 100%;
        height    : 200px;
        text-align: center;
        margin-top: 1rem;
    }
}