.footer {
    height          : 40px;
    width           : 100%;
    display         : flex;
    justify-content : center;
    align-items     : center !important;
    background-color: rgb(51 51 51);
}

.Card {
    width  : 16.6%;
    padding: 1%;
    margin : 1%;
}

.CardImg {
    width : 100%;
    height: 218px;
}

.скидки {
    font-family: Open Sans, Arial, Helvetica, sans-serif, Heiti;
    margin-left: 6.5rem;
    cursor     : pointer;
    font-weight: bolder;
}

.img1 {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;

}

.IMG {
    width : 24%;
    margin: 0.5%;
}

.foiz {
    text-align      : center;
    color           : #fff;
    background-color: red;
}

.sum {
    height     : 18px;
    margin-top : 4px;
    font-size  : 16px;
    line-height: 18px;
    color      : rgb(0 0 0);
    font-style : italic;
    font-weight: 700;
}

.img {
    display  : flex;
    flex-wrap: wrap;
    width    : 88%;
}

.Footer {
    margin-top: 4rem;
}

.text1 {
    height: 50%;
}

.text {
    font-size  : 14px;
    color      : rgb(255 255 255);
    font-family: Open Sans, Arial, Helvetica, sans-serif, Heiti;
}

@media(min-width:0) and (max-width:574.9px) {
    .img {
        width          : 100%;
        justify-content: space-evenly;
    }

    .footer {
        height: 100%;
    }

    .Footer {
        margin-top: 1rem;
    }

    .скидки {
        width          : 100%;
        margin-left    : 0;
        display        : flex;
        justify-content: flex-start;
    }

    .скидки h5 {
        font-size  : 15px;
        margin-left: 15px;
    }

    .Card {
        width : 48% !important;
        margin: 0.75rem 0 0 0;
    }

    .text1 {
        height         : 50%;
        width          : 70%;
        font-size      : 10px;
        text-align     : center;
        display        : flex;
        justify-content: center;
        margin-top     : 10px;
    }

    .text {
        font-size: 12px;
    }
}

@media (min-width: 0px) and (max-width:380.9px) {
    .img {
        width          : 100%;
        justify-content: center;
    }
    .Card {
        width: 80% !important;
    }
}

@media (min-width:575px) and (max-width:900.9px) {
    /* text body */

    .text1 {
        height     : 50%;
        display    : flex;
        align-items: center;
    }

    /* text */
    .text {
        font-size: 7px;
        margin   : 0;
    }

    /* card body*/
    .Card {
        width: 48%;
    }

    /* Skidki title */
    .скидки {
        width      : 88%;
        margin-left: 3rem;
    }

    .скидки h5 {
        display        : flex;
        justify-content: flex-start;
    }

}

@media (min-width:901px) and (max-width:1084px) {
    .img {
        display  : flex;
        flex-wrap: wrap;
        width    : 95%;
    }

    .Card {
        width: 18%;
    }

    .sum {
        font-size  : 14px;
        line-height: 18px;
    }

    /* text */
    .text {
        font-size: 11px;
    }

    /* skitka */

    .скидки {
        margin-left: 2rem;
    }

    .скидки h5 {
        display        : flex;
        justify-content: flex-start;
    }
}